<header>
    <h1>Login</h1>
</header>

<p id="error">{{error}}</p>

<form action="/login" id="login-form" method="POST">
    <label for="emailAddressInput">Email</label>
    <input name="emailAddressInput" id="emailAddressInput" type="email">
    <br>
    <label for="passwordInput">Password</label>
    <input name="passwordInput" id="passwordInput" type="password">
    <input class="submit" type="submit">
</form>


<a href="/register">Click here to register for RateMyStevens!</a>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/client_side_validation.js"></script>