<h1>Main</h1>
<p>Welcome to the main part of the site, {{username}}. Your email is {{email}}.</p>

<p> Choose one of the below two options:</p>
<a href="/create">Make a review</a>
<br>
<a href="/addCourse">Add a course</a>