
body {
    font-family: Arial, Helvetica, sans-serif;
}


.input-container {
    display: block;
    margin-bottom: 15px;
}

input {
    color: #333;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-style: normal;
}

p {
    color: #555;
    font-weight: bold;
}

label {
    font-style: italic;
    color: #000002;
    display: inline-block;
    padding: 10px;
}

h1 {
    border-top: 1px solid #9b59b6;
    border-bottom: 1px solid #9b59b6;
    background-color:#f4dfee;
    padding: 30px;
    color: #9b59b6;
    font-weight: bold;
    font-size: 2em;
}

h2 {
    color: #d35400;
}

p:first-child {
    color: #ae2778;
    font-weight: bolder;
}

p:last-child {
    color: #3498db;
    font-weight: normal;
    text-decoration: underline;
}

a {
    color: #9b59b6;
    text-decoration: none;
}

li {
    color: #c0392b;
}

.review {
    border: 1px solid black;
    width: 500px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.review:hover {
    background-color: grey;
}

.professor {
    border: 1px solid black;
    width: 500px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}